<div class="filemgr-wrapper">
  <div class="filemgr-sidebar">
    <div class="filemgr-sidebar-body">
      <div class="pd-t-20 pd-b-10 pd-x-10">
        <label class="tx-sans tx-uppercase tx-medium tx-10 tx-spacing-1 tx-color-03 pd-l-10">Step</label>
        <nav class="nav nav-sidebar nav-pills tx-13" id="navBar">
          <a href="#searchClip" class="nav-link active"><i data-feather="anchor"></i> <span>Search Clip</span></a>
          <a href="#chooseClip" class="nav-link"><i data-feather="activity"></i> <span>Choose Clip</span></a>
          <a href="#makeThumbnail" class="nav-link"><i data-feather="image"></i> <span>Make Thumbnail</span></a>
          <a href="#videoInfomation" class="nav-link"><i data-feather="clipboard"></i> <span>Video Infomation</span></a>
          <a href="#saveVideo" class="nav-link"><i data-feather="aperture"></i> <span>Save</span></a>
        </nav>
      </div>
    </div><!-- filemgr-sidebar-body -->
  </div><!-- filemgr-sidebar -->

  <div class="filemgr-content">
    <div class="filemgr-content-header">
      <i data-feather="search"></i>
      <div class="search-form">
        <input type="search" class="form-control" placeholder="Search keyword here" #keyword
          (keyup.enter)="getVideoByKeyword(keyword.value)" value="makeup">
      </div><!-- search-form -->
    </div><!-- filemgr-content-header -->
    <div class="filemgr-content-body" data-spy="scroll" data-target="#navBar">
      <div class="pd-20 pd-lg-25 pd-xl-30" *ngIf="searchResults != null" id="searchClip">
        <div data-label="Search Results" class="df-example">
          <div class="row row-xs">
            <div class="col-2 item-video" *ngFor="let item of searchResults?.results"
              (mouseenter)="previewVideo(item.id, false)">
              <div class="card card-file" (mouseenter)="showAction(item.id)" (mouseleave)="hideAction()">
                <div class="card-file-thumb tx-danger">
                  <button class="btn btn-xs btn-success action-btn" (click)="addVideoToList(item)"
                    *ngIf="actionDisplay == item.id">+</button>
                  <img [src]="item.thumbnail_url" class="img-srs" *ngIf="actionDisplay != item.id">
                  <video #prv *ngIf="actionDisplay == item.id"
                    class="wd-100p img-fit-cover img-object-top rounded-left img-srs" autoplay
                    poster="../../assets/imgs/abc.gif" crossorigin="anonymous" style="object-fit: contain;">
                    <source [src]="dataSelected?.video_link" type="video/mp4">
                    Your browser does not support HTML5 video.
                  </video>
                </div>
                <div class="card-body">
                  <h6 (click)="previewVideo(item.id, true)" data-toggle="modal" data-target="#modalSplitColumn"><a
                      href="javascript:void(0)" class="link-02">{{item.text}}</a>
                  </h6>
                  <span>{{item.region}}</span>
                </div>
              </div>
            </div><!-- col -->
          </div>
          <nav aria-label="Pagination search results">
            <ul class="pagination mg-b-0 mg-t-20">
              <li *ngFor="let item of pageControl?.pages"
                class="page-item {{(pageControl?.currentPage == item) ? 'active' : ''}}"><a class="page-link"
                  href="javascript:void(0)" (click)="changePageSearchResult(item)">{{item}}</a></li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="pd-20 pd-lg-25 pd-xl-30" *ngIf="dataVideo.list_video.length > 0" id="chooseClip">
        <div data-label="Choose Results" class="df-example">
          <div class="row row-xs example-boundary" cdkDropList cdkDropListOrientation="horizontal"
            (cdkDropListDropped)="dropChooseResult($event)">
            <div class="col-2 item-video example-box" *ngFor="let item of dataVideo.list_video"
              cdkDragBoundary=".example-boundary" cdkDrag>
              <div class="card card-file" (mouseenter)="showActionRemove(item.id)" (mouseleave)="hideActionRemove()">
                <div class="card-file-thumb tx-danger">
                  <div class="action-btn" *ngIf="actionRemove == item.id || chooseThumbnail">
                    <button class="btn btn-xs btn-success mg-r-5" (click)="captureImage(item.id)" data-toggle="modal"
                      data-target="#modalSplitColumn" *ngIf="chooseThumbnail">Capture</button>
                    <button class="btn btn-xs btn-danger" (click)="removeVideoFromList(item)">-</button>
                  </div>
                  <img [src]="item.thumbnail_url" class="img-srs">
                </div>
                <div class="card-body">
                  <h6><a href="javascript:void(0)" class="link-02">{{item.text}}</a></h6>
                  <span>{{item.region}}</span>
                </div>
              </div>
            </div><!-- col -->
          </div>
        </div>
      </div>

      <div class="pd-20 pd-lg-25 pd-xl-30" *ngIf="dataVideo.list_video.length > 0" id="makeThumbnail">
        <div data-label="Thumbnail Style" class="df-example">
          <div class="row thumb-style">
            <div class="col-2" *ngFor="let item of listThumbnailStyle">
              <img [src]="item.image" style="cursor: pointer;"
                class="{{styleSelected == item.id ? 'active-thumbnail' : ''}} img-thumbnail" [alt]="item.name"
                (click)="chooseStyleThumbnail(item)">
            </div>
          </div>

          <div class="row mt-3 df-example thumb-style example-boundary" data-label="Choose Thumbnail Image"
            *ngIf="styleSelected != null" cdkDropList cdkDropListOrientation="horizontal"
            (cdkDropListDropped)="dropThumbnail($event)">
            <figure class="pos-relative mg-b-0 col-2 example-box" *ngFor="let item of dataVideo.thumb_arr;"
              cdkDragBoundary=".example-boundary" cdkDrag>
              <img [src]="item.image" class="img-fit-cover">
              <figcaption class="pos-absolute b-0 l-0 wd-100p pd-20 d-flex justify-content-center">
                <div class="btn-group">
                  <a href="#chooseClip" class="btn btn-primary btn-icon" (click)="editThumbnail(item.id)">Edit</a>
                </div>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>

      <div class="pd-20 pd-lg-25 pd-xl-30" *ngIf="styleSelected != null" id="videoInfomation">
        <div data-label="Video Infomation" class="df-example demo-forms">
          <div class="form-group">
            <label class="d-block">Title<span class="tx-danger">*</span></label>
            <input type="text" name="title" [(ngModel)]="dataVideo.title"
              class="form-control {{validateFormData.title ? 'parsley-error' : ''}}" placeholder="Title"
              (keyup)="validateFormData.title = false">
            <ul class="parsley-errors-list filled" *ngIf="validateFormData.title">
              <li class="parsley-required">This value is required.</li>
            </ul>
          </div>
          <div class="form-group">
            <label class="d-block">Description<span class="tx-danger">*</span></label>
            <textarea name="description" [(ngModel)]="dataVideo.description"
              class="form-control {{validateFormData.description ? 'parsley-error' : ''}}" id="description" cols="30"
              rows="10" (keyup)="validateFormData.description = false"></textarea>
            <ul class="parsley-errors-list filled" *ngIf="validateFormData.description">
              <li class="parsley-required">This value is required.</li>
            </ul>
          </div>
          <div class="form-group">
            <label class="d-block">Tag (separated by commas)<span class="tx-danger">*</span></label>
            <input type="text" name="tags" [(ngModel)]="dataVideo.tags"
              class="form-control {{validateFormData.tags ? 'parsley-error' : ''}}"
              placeholder="halloween, ghost, ...etc" (keyup)="validateFormData.tags = false">
            <ul class="parsley-errors-list filled" *ngIf="validateFormData.tags">
              <li class="parsley-required">This value is required.</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="pd-20 pd-lg-25 pd-xl-30" id="saveVideo" *ngIf="styleSelected != null">
        <button type="button" class="btn btn-success" (click)="save()">Save</button>
        <button type="button" class="btn btn-danger mg-l-10">Reset All</button>
      </div>

    </div><!-- filemgr-content-body -->
  </div><!-- filemgr-content -->

</div><!-- filemgr-wrapper -->

<div class="modal fade" id="modalSplitColumn" aria-labelledby="modalSplitColumn" tabindex="-1" role="dialog"
  aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered mx-wd-sm-650" role="document">
    <div class="modal-content bd-0 bg-transparent" *ngIf="dataSelected != null">
      <div class="modal-body pd-0" *ngIf="openModal">
        <a href="javascript:void(0)" data-dismiss="modal" (click)="resetViewVideo()" role="button"
          class="close pos-absolute t-15 r-15 z-index-10" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </a>

        <div class="row no-gutters">
          <div class="col-3 col-sm-5 col-md-6 col-lg-5 rounded-left">
            <div class="wd-100p ht-100p">
              <video #video class="wd-100p img-fit-cover img-object-top rounded-left" controls autoplay
                poster="../../assets/imgs/abc.gif" crossorigin="anonymous">
                <source [src]="dataSelected?.video_link" type="video/mp4">
                Your browser does not support HTML5 video.
              </video>
            </div>
          </div><!-- col -->
          <div class="col-9 col-sm-7 col-md-6 col-lg-7 bg-white rounded-right">
            <canvas #canvas id="canvas" style="display: none;"></canvas>
            <div class="ht-100p d-flex flex-column justify-content-center pd-20 pd-sm-30 pd-md-40">
              <h3 class="tx-16 tx-sm-20 tx-md-24 mg-b-15 mg-md-b-20 title-video">{{dataSelected.text}}</h3>
              <p class="tx-14 tx-md-16 tx-color-02">
                Tags:
                <span class="badge badge-secondary" *ngFor="let item of dataSelected?.tags">{{item.name}}</span>
              </p>
              <p class="tx-14 tx-md-16 tx-color-02">Region: {{dataSelected.region}}</p>
              <p class="tx-14 tx-md-16 tx-color-02">Like: {{dataSelected.like_count  | number:'':'vi'}} -
                {{dataSelected.comment_count  | number:'':'vi'}} comments</p>
              <p class="tx-14 tx-md-16 tx-color-02">Author: {{dataSelected.author.name}} -
                {{dataSelected.author.following | number:'':'vi'}} following</p>
              <a href="javascript:void(0)" class="btn btn-success btn-block btn-uppercase" data-dismiss="modal"
                (click)="addVideoToList(dataSelected)" *ngIf="!chooseThumbnail">Add To List</a>
              <a href="javascript:void(0)" class="btn btn-success btn-block btn-uppercase" (click)="capture()"
                data-dismiss="modal" *ngIf="chooseThumbnail">Take A Picture</a>
            </div>
          </div><!-- col -->
        </div><!-- row -->
      </div><!-- modal-body -->
    </div><!-- modal-content -->
  </div><!-- modal-dialog -->
</div><!-- modal -->