<div class="filemgr-wrapper">
  <div class="filemgr-sidebar">
    <div class="filemgr-sidebar-body">
      <div class="pd-t-20 pd-b-10 pd-x-10">
        <label class="tx-sans tx-uppercase tx-medium tx-10 tx-spacing-1 tx-color-03 pd-l-10">Step</label>
        <nav class="nav nav-sidebar nav-pills tx-13" id="navBar">
          <a href="javascript:void(0)" (click)="changeUrl('#searchClip')" class="nav-link active"><i
              data-feather="anchor"></i> <span>Search Clip</span></a>
          <a href="javascript:void(0)" (click)="changeUrl('#chooseClip')" class="nav-link"><i
              data-feather="activity"></i> <span>Choose Clip</span></a>
          <a href="javascript:void(0)" (click)="changeUrl('#makeThumbnail')" class="nav-link"><i
              data-feather="image"></i> <span>Make Thumbnail</span></a>
          <a href="javascript:void(0)" (click)="changeUrl('#videoInfomation')" class="nav-link"><i
              data-feather="clipboard"></i> <span>Video Infomation</span></a>
          <a href="javascript:void(0)" (click)="changeUrl('#saveVideo')" class="nav-link"><i
              data-feather="aperture"></i> <span>Save</span></a>
        </nav>
      </div>
    </div><!-- filemgr-sidebar-body -->
  </div><!-- filemgr-sidebar -->

  <div class="filemgr-content">
    <div class="filemgr-content-header">
      <div class="form-row" style="width: 100%;">
        <div class="form-group col-md-4">
          <label>Keyword <span class="tx-danger">*</span></label>
          <input type="text" class="form-control {{validateSearch.keyword ? 'parsley-error' : ''}}"
            [(ngModel)]="searchObj.keyword" name="keyword" placeholder="halloween"
            (keyup)="validateSearch.keyword = false" (keyup.enter)="search()" autofocus>
        </div>
        <div class="form-group col-md-2">
          <label>Region</label>
          <input type="text" [(ngModel)]="searchObj.region" name="region" class="form-control" placeholder="US"
            (keyup.enter)="search()">
        </div>
        <div class="form-group col-md-2">
          <label>Order By</label>
          <select [(ngModel)]="searchObj.order_by" name="order_by" class="custom-select">
            <option value="id">ID</option>
            <option value="like_count">Like</option>
            <option value="comment_count">Comment</option>
            <option value="music__posts">Music Posts</option>
            <option value="tags__views">Tag Views</option>
            <option value="author__fans">Author Fans</option>
            <option value="author__heart">Author Heart</option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <label>Sort</label>
          <select [(ngModel)]="searchObj.sort_by" name="sort_by"
            class="custom-select {{validateSearch.sort_by ? 'parsley-error' : ''}}"
            (keyup)="validateSearch.sort_by = false">
            <option value="desc">DESC</option>
            <option value="asc">ASC</option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <label>&nbsp;</label>
          <button class="btn btn-primary btn-block" (click)="search()">Search</button>
        </div>
      </div>
    </div><!-- filemgr-content-header -->
    <div class="filemgr-content-body" data-spy="scroll" data-target="#navBar">
      <div class="pd-20 pd-lg-25 pd-xl-30" *ngIf="searchResults != null" id="searchClip">
        <div data-label="Search Results" class="df-example">
          <div class="row row-xs" *ngIf="!noData">
            <div *ngFor="let item of searchResults?.results"
              class="col-2 item-video {{listIdVideo.indexOf(item.id) != -1 ? 'muted' : ''}}"
              (mouseenter)="previewVideo(item, false)">
              <div class="card card-file" (mouseenter)="showAction(item.id)" (mouseleave)="hideAction()">
                <div class="card-file-thumb tx-danger">
                  <button class="btn btn-xs btn-success action-btn" (click)="addVideoToList(item)"
                    *ngIf="actionDisplay == item.id && listIdVideo.indexOf(item.id) == -1">+ {{(listWarning.indexOf(item.id) == -1) ? '' : 'Clip Exist'}}</button>
                  <img [src]="item.thumbnail_url" class="img-srs"
                    *ngIf="actionDisplay != item.id || listIdVideo.indexOf(item.id) != -1">
                  <video #prv *ngIf="actionDisplay == item.id && listIdVideo.indexOf(item.id) == -1"
                    class="wd-100p img-fit-cover img-object-top rounded-left img-srs" autoplay
                    poster="../../assets/imgs/abc.gif" crossorigin="anonymous" style="object-fit: contain;">
                    <source [src]="dataSelected?.video_link" type="video/mp4">
                    Your browser does not support HTML5 video.
                  </video>
                </div>
                <div class="card-body">
                  <h6 (click)="previewVideo(item, true)" data-toggle="modal" data-target="#modalSplitColumn"><a
                      href="javascript:void(0)" class="link-02">{{item.text}}</a>
                  </h6>
                  <span>{{item.region}}</span>
                </div>
              </div>
            </div><!-- col -->
          </div>
          <nav aria-label="Pagination search results" *ngIf="searchResults?.count > 10">
            <ul class="pagination mg-b-0 mg-t-20">
              <li class="page-item"><a class="page-link {{(pageControl?.currentPage == 1) ? 'muted' : ''}}"
                  href="javascript:void(0)" (click)="changePageSearchResult(1)">First</a></li>
              <li *ngFor="let item of pageControl?.pages"
                class="page-item {{(pageControl?.currentPage == item) ? 'active' : ''}}"><a class="page-link"
                  href="javascript:void(0)" (click)="changePageSearchResult(item)">{{item}}</a></li>
              <li class="page-item {{(pageControl?.currentPage == pageControl?.totalPages) ? 'muted' : ''}}"><a
                  class="page-link" href="javascript:void(0)"
                  (click)="changePageSearchResult(pageControl?.totalPages)">Last</a></li>
              <div class="spinner-border mg-l-10" role="status" *ngIf="loading">
                <span class="sr-only">Loading...</span>
              </div>
            </ul>
          </nav>
          <div class="row row-xs" *ngIf="noData">
            No data
          </div>
        </div>
      </div>

      <div class="pd-20 pd-lg-25 pd-xl-30" *ngIf="dataVideo.list_video.length > 0" id="chooseClip" #chooseClip>
        <div class="btn-reset">
            <button class="btn btn-danger" (click)="resetData()">Reset Data</button>
        </div>
        <div data-label="Choose Results" class="df-example">
          <span>Selected: <strong>{{dataVideo.list_video.length}}</strong> clips, estimate duration:
            <strong>{{gettime(dataVideo.list_video.length * 10)}}s</strong></span>
          <div class="row row-xs mg-t-10 result-boundary" dragula="LIST_VIDEO" [(dragulaModel)]="dataVideo.list_video">
            <div class="col-2 item-video example-box" *ngFor="let item of dataVideo.list_video" (mouseenter)="previewVideo(item, false)">
              <div class="card card-file" (mouseenter)="showActionRemove(item.id)" (mouseleave)="hideActionRemove()">
                <div class="card-file-thumb tx-danger">
                  <div class="action-btn" *ngIf="actionRemove == item.id || chooseThumbnail">
                    <button class="btn btn-xs btn-success mg-r-5" (click)="captureImage(item.id)" data-toggle="modal"
                      data-target="#modalSplitColumn" *ngIf="chooseThumbnail">Capture</button>
                    <button class="btn btn-xs btn-danger" (click)="removeVideoFromList(item)">-</button>
                  </div>
                  <img [src]="item.thumbnail_url" class="img-srs" *ngIf="actionRemove != item.id">
                  <video #prv *ngIf="actionRemove == item.id && dataSelected.id == item.id"
                    class="wd-100p img-fit-cover img-object-top rounded-left img-srs" autoplay
                    poster="../../assets/imgs/abc.gif" crossorigin="anonymous" style="object-fit: contain;">
                    <source [src]="dataSelected?.video_link" type="video/mp4">
                    Your browser does not support HTML5 video.
                  </video>
                </div>
                <div class="card-body">
                  <h6><a href="javascript:void(0)" class="link-02">{{item.text}}</a></h6>
                  <span>{{item.region}}</span>
                </div>
              </div>
            </div><!-- col -->
          </div>
        </div>
      </div>

      <div class="pd-20 pd-lg-25 pd-xl-30 {{thumbnailError ? 'error-image' : ''}}" #thumbnail
        *ngIf="dataVideo.list_video.length > 0" id="makeThumbnail">
        <div data-label="Thumbnail Style" class="df-example">
          <div class="row thumb-style">
            <div class="col-2" *ngFor="let item of listThumbnailStyle">
              <img [src]="item?.image" style="cursor: pointer;"
                class="{{styleSelected == item.id ? 'active-thumbnail' : ''}} img-thumbnail" [alt]="item.name"
                (click)="chooseStyleThumbnail(item)">
            </div>
          </div>

          <div class="row mt-3 df-example thumb-style example-boundary" *ngIf="styleSelected != null" cdkDropList
            cdkDropListOrientation="horizontal" (cdkDropListDropped)="dropThumbnail($event)">
            <figure class="pos-relative mg-b-0 col-2 example-box"
              *ngFor="let item of dataVideo.thumb_style.thumb_arr | slice:0:dataVideo.thumb_style.style.group"
              cdkDragBoundary=".example-boundary" cdkDrag>
              <img [src]="item.image" class="img-fit-cover">
              <figcaption class="pos-absolute b-0 l-0 wd-100p pd-20 d-flex justify-content-center">
                <div class="btn-group">
                  <a href="javascript:void(0)" class="btn btn-primary btn-icon"
                    (click)="editThumbnail(item.id)">Edit</a>
                </div>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>

      <div class="pd-20 pd-lg-25 pd-xl-30" *ngIf="styleSelected != null" id="videoInfomation">
        <div data-label="Video Infomation" class="df-example demo-forms">
          <div class="form-group">
            <label class="d-block">Title</label>
            <input type="text" name="title" [(ngModel)]="dataVideo.title" class="form-control" placeholder="Title">
          </div>
          <div class="form-group">
            <label class="d-block">Description</label>
            <textarea name="description" [(ngModel)]="dataVideo.description" class="form-control" id="description"
              cols="30"></textarea>
          </div>
          <div class="form-group">
            <label class="d-block">Tag (separated by commas)</label>
            <input type="text" name="tags" [(ngModel)]="dataVideo.tags" class="form-control"
              placeholder="halloween, ghost, ...etc">
          </div>
          <div class="form-group" *ngIf="textSaveConfig != null" [innerHTML]="textSaveConfig"></div>
          <button type="button" class="btn btn-success"
            *ngIf="dataVideo.title != null && dataVideo.description != null && dataVideo.tags != null"
            (click)="saveConfig()">{{hasConfig ? 'Update Config' : 'Save Config'}}</button>
          <div class="spinner-border mg-l-10 pos-absolute" role="status" *ngIf="isLoadingConfig">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>

      <div class='pd-20 pd-lg-25 pd-xl-30' *ngIf="styleSelected != null">
        <div class="form-group">
          <label for="dateTime">Time</label>
          <ejs-datetimepicker [(ngModel)]="dateTime" id="dateTime" placeholder='Select a date'></ejs-datetimepicker>
        </div>
      </div>

      <div class="pd-20 pd-lg-25 pd-xl-30" id="saveVideo" style="display: inline-flex;" *ngIf="styleSelected != null">
        <button type="button" class="btn btn-success" [disabled]="dateTime == undefined" (click)="save()">Save</button>
        <div class="spinner-border mg-l-10" role="status" *ngIf="loadingSave">
          <span class="sr-only">Loading...</span>
        </div>
      </div>

    </div><!-- filemgr-content-body -->
  </div><!-- filemgr-content -->

</div><!-- filemgr-wrapper -->

<div class="modal fade" id="modalSplitColumn" aria-labelledby="modalSplitColumn" tabindex="-1" role="dialog"
  aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered mx-wd-sm-650" role="document">
    <div class="modal-content bd-0 bg-transparent" *ngIf="dataSelected != null">
      <div class="modal-body pd-0" *ngIf="openModal">
        <a href="javascript:void(0)" data-dismiss="modal" (click)="resetViewVideo()" role="button"
          class="close pos-absolute t-15 r-15 z-index-10" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </a>

        <div class="row no-gutters">
          <div class="col-3 col-sm-5 col-md-6 col-lg-5 rounded-left">
            <div class="wd-100p ht-100p">
              <video #video class="wd-100p img-fit-cover img-object-top rounded-left" controls autoplay
                poster="../../assets/imgs/abc.gif" crossorigin="anonymous">
                <source [src]="dataSelected?.video_link" type="video/mp4">
                Your browser does not support HTML5 video.
              </video>
            </div>
          </div><!-- col -->
          <div class="col-9 col-sm-7 col-md-6 col-lg-7 bg-white rounded-right">
            <canvas #canvas id="canvas" style="display: none;"></canvas>
            <div class="ht-100p d-flex flex-column justify-content-center pd-20 pd-sm-30 pd-md-40">
              <h3 class="tx-16 tx-sm-20 tx-md-24 mg-b-15 mg-md-b-20 title-video">{{dataSelected.text}}</h3>
              <p class="tx-14 tx-md-16 tx-color-02">
                Tags:
                <span class="badge badge-secondary" *ngFor="let item of dataSelected?.tags">{{item.name}}</span>
              </p>
              <p class="tx-14 tx-md-16 tx-color-02">Region: {{dataSelected.region}}</p>
              <p class="tx-14 tx-md-16 tx-color-02">Like: {{dataSelected.like_count  | number:'':'vi'}} -
                {{dataSelected.comment_count  | number:'':'vi'}} comments</p>
              <p class="tx-14 tx-md-16 tx-color-02">Author: {{dataSelected.author.name}} -
                {{dataSelected.author.following | number:'':'vi'}} following</p>
              <a href="javascript:void(0)" class="btn btn-success btn-block btn-uppercase" data-dismiss="modal"
                (click)="addVideoToList(dataSelected)" *ngIf="!chooseThumbnail">Add To List</a>
              <a href="javascript:void(0)" class="btn btn-success btn-block btn-uppercase"
                (click)="capture(dataSelected.id)" data-dismiss="modal" *ngIf="chooseThumbnail">Take A Picture</a>
            </div>
          </div><!-- col -->
        </div><!-- row -->
      </div><!-- modal-body -->
    </div><!-- modal-content -->
  </div><!-- modal-dialog -->
</div><!-- modal -->