<header class="navbar navbar-header navbar-header-fixed">
  <a href="javascript:void(0)" id="mainMenuOpen" class="burger-menu"><i data-feather="menu"></i></a>
  <div class="navbar-brand">
    <a href="/" class="df-logo">Auto<span>Make</span></a>
  </div><!-- navbar-brand -->
  <div id="navbarMenu" class="navbar-menu-wrapper">
    <div class="navbar-menu-header">
      <a href="/" class="df-logo">Auto<span>Make</span></a>
      <a id="mainMenuClose" href="javascript:void(0)"><i data-feather="x"></i></a>
    </div><!-- navbar-menu-header -->
  </div><!-- navbar-menu-wrapper -->
  <div class="navbar-right" *ngIf="channel_info != null">
    Channel:&nbsp;<strong>{{channel_info?.items[0].snippet.title}}</strong>&nbsp;- Total
      views:&nbsp;<strong>{{channel_info?.items[0].statistics.viewCount | number:'':'vi'}}</strong>&nbsp;- Total
      videos:&nbsp;<strong>{{channel_info?.items[0].statistics.videoCount | number:'':'vi'}}</strong>&nbsp;- Total
      subscribers:&nbsp;<strong>{{channel_info?.items[0].statistics.subscriberCount | number:'':'vi'}}</strong>
  </div>
  <div class="navbar-search">
    <div class="navbar-search-header">
      <input type="search" class="form-control" placeholder="Type and hit enter to search...">
      <button class="btn"><i data-feather="search"></i></button>
      <a id="navbarSearchClose" href="javascript:void(0)" class="link-03 mg-l-5 mg-lg-l-10"><i data-feather="x"></i></a>
    </div><!-- navbar-search-header -->
  </div><!-- navbar-search -->
</header><!-- navbar -->

<router-outlet></router-outlet>